.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}
